<h3><u>Comment section</u></h3>
<% if comments.any? %>
  <% comments.each_with_index do |comment, index| %>
  <p>
    <strong><u><%= index + 1 + (comments.current_page - 1) * comments.limit_value %></u></strong>
  </p>

  <p>
    <strong>Date:</strong>
    <%= comment.created_at.in_time_zone("Asia/Tokyo").strftime("%Y-%m-%d %H:%M:%S") %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= comment.user.name_or_email %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <% if current_user == comment.user %>
      <%= button_to "Destroy this comment", polymorphic_path([commentable, comment]), method: :delete %>
    <% end %>
  </p>
  <% end %>
  <%= paginate comments %>
<% else %>
  <p>No comments posted yet</p>
<% end %>
