<h3><u><%= t('views.common.section', name: Comment.model_name.human) %></u></h3>

<% if comments.any? %>
  <% comments.each do |comment| %>
    <div class="comment-container">
      <p>
        <strong><%= User.human_attribute_name(:name) %>:</strong>
        <%= comment.user.name_or_email %>
      </p>

      <p>
        <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
        <%= l(comment.created_at) %>
      </p>

      <p class="textarea-container">
        <strong><%= Comment.human_attribute_name(:body) %>:</strong>
        <span class="textarea"><%= comment.body %></span>
      </p>

      <p>
        <% if comment.user == current_user %>
          <%= link_to t('views.common.edit', name: Comment.model_name.human), edit_polymorphic_path([commentable, comment]) %>
          <%= button_to t('views.common.destroy', name: Comment.model_name.human), polymorphic_path([commentable, comment]), method: :delete %>
        <% end %>
      </p>
    </div>
  <% end %>

  <%= paginate comments %>
<% else %>
  <p><%= t('views.common.not_posted_yet', name: Comment.model_name.human) %></p>
<% end %>
