<h3><u><%= t('views.common.section', name: Comment.model_name.human) %></u></h3>
<% if comments.any? %>
  <% comments.each_with_index do |comment, index| %>
  <p>
    <strong><u><%= index + 1 + (comments.current_page - 1) * comments.limit_value %></u></strong>
  </p>

  <p>
    <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
    <%= comment.created_at.in_time_zone("Asia/Tokyo").strftime("%Y-%m-%d %H:%M:%S") %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <%= comment.user.name_or_email %>
  </p>

  <p>
    <strong><%= Comment.human_attribute_name(:body) %>:</strong>
    <%= comment.body %>
  </p>

  <p>
    <% if current_user == comment.user %>
      <%= link_to t('views.common.edit', name: Comment.model_name.human), edit_polymorphic_path([commentable, comment]) %>
      <%= button_to t('views.common.destroy', name: Comment.model_name.human), polymorphic_path([commentable, comment]), method: :delete %>
    <% end %>
  </p>
  <% end %>
  <%= paginate comments %>
<% else %>
  <p><%= t("views.common.not_posted_yet", name: Comment.model_name.human) %></p>
<% end %>
