<% if comment.new_record? %>
  <h3><u>Post a comment</u></h3>
<% end %>

<p>
  <strong>name:</strong>
  <%= current_user.name_or_email %>
</p>

<%= form_with model: [commentable, comment] do |f| %>
  <%= f.text_area :body, required: true %>

  <% if comment.new_record? %>
    <%= f.submit "Post a comment" %>
  <% else %>
    <%= f.submit "Update this comment" %>
  <% end %>
<% end %>
