<% if comment.new_record? %>
  <h3><u><%= t('views.common.post_a_message', name: Comment.model_name.human) %></u></h3>
<% end %>

<p>
  <strong><%= User.human_attribute_name(:name) %></strong>
  <%= current_user.name_or_email %>
</p>

<%= form_with model: [commentable, comment] do |f| %>
  <%= f.text_area :body, required: true %>

  <% if comment.new_record? %>
    <%= f.submit t('views.common.post') %>
  <% else %>
    <%= f.submit %>
  <% end %>
<% end %>
