<h1>Edit this comment</h1>

<%= form_with model: [@commentable, @comment] do |form| %>
  <%= form.label :body, "body" %>
  <%= form.text_area :body, required: true %>
  <%= form.submit "Update this comment" %>
<% end %>

<%= link_to "Back to comments", @commentable %>
