<div id="<%= dom_id report %>">
  <p>
    <strong>Date:</strong>
    <%= report.created_at.in_time_zone("Asia/Tokyo").strftime("%Y-%m-%d %H:%M:%S") %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= report.user.name_or_email %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= report.body %>
  </p>

</div>
