<div id="<%= dom_id report %>">
  <% unless index.nil? %>
  <p>
    <strong><u><%= index + 1 + (@reports.current_page - 1) * @reports.limit_value %></u></strong>
  </p>
  <% end %>

  <p>
    <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
    <%= report.created_at.in_time_zone("Asia/Tokyo").strftime("%Y-%m-%d %H:%M:%S") %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <%= report.user.name_or_email %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:body) %>:</strong>
    <%= report.body %>
  </p>

</div>
