<h1><%= t('views.common.title_index', name: Report.model_name.human) %></h1>

<div id="reports">
  <% @reports.each_with_index do |report, index| %>
    <%= render report, index: index %>
    <p>
      <%= link_to t('views.common.show', name: Report.model_name.human), report %>
    </p>
  <% end %>
</div>

<%= paginate @reports %>

<%= link_to t('views.common.new', name: Report.model_name.human), new_report_path %>
